.logo {
  width: 50px;
  height: 50px;
}

/*
  ========================================
  Custome Styling
  ========================================
*/

html {
  padding: .2rem;
}

body {
  background-color: tomato;
  font-family: 'Biryani', sans-serif;
  font-size: 16px;
  color: white;
}

h2 {
  margin-bottom: 0;
}

/*
  ========================================
  Layout
  ========================================
*/

.wrapper {
  width: 85%;
  margin: 0 auto;
}

/*
  ========================================
  Header
  ========================================
*/

header {
  background-color: red;
}

/*
  ========================================
  Blockquote
  ========================================
*/

.quote {
  min-height: 3rem;
  background-color: white;
  border-top: 1.5px solid wheat;
  border-bottom: 1.5px solid wheat;
  border-right: 3px solid wheat;
  border-left: 3px solid wheat;
  padding: 1rem 1rem .1rem 1rem;
  vertical-align: text-bottom;
}

blockquote {
  color: tomato;
  background-color: white;
  display: inline-block;
  margin: 0;
  padding: 0;
}

cite {
  color: #222;
}

button {
  font-size: 1rem;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 3px;
  /* Hide the text. */
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
  cursor: pointer;
  display: inline-block;
  background-color: white;
  background-image: url('http://www.pomodoro-vietnam.com/images/tomato.png');
  background-size: contain;
  margin-left: .2rem;
  vertical-align: text-top;
}

button:hover {
  background-image: url('https://mjshorts.files.wordpress.com/2013/05/15491672-splattered-tomato-and-crushed-red-fruit-vegetable-thrown-to-a-wall-as-a-squashed-food-symbol-or-a-co.jpg');
}

/*
  ========================================
  Forms
  ========================================
*/

form {
  margin-bottom: 1rem;
}

input[type=text],
input[type=button] {
  font-size: .9rem;
  padding: 0 .6rem;
  border: none;
  border-radius: 3px;
  margin-bottom: .5rem;
}

input[type=text] {
  color: #222;
  width: 40%;
  background-color: #eee;
}

input[type=button] {
  background-color: red;
  cursor: pointer;
  width: 14%;
}

input[type=button]:hover {
  background-color: white;
  color: red;
}







